{% extends "base.html" %}
{% load static %}

{% block extra_title %}About{% endblock %}

{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container one">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="lead-text">About</h2>
            <hr class="hr">
        </div>
        <div class="col">
            <hr>
            <h2 class="lead-text">About homemade soap</h2>
            <hr class="hr">
        </div>
        <!-- <div class="row">
        <div class="col-12 ">
            <a class="btt-link btn btn-sm m-1 shadow-sm rounded-0 border border-black">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>
        </div> -->
    </div>
</div>
{% endblock %}
<!-- {% block postload_js %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %} -->