{% extends "base.html" %}
{% load static %}

{% block extra_title %}About{% endblock %}

{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container h-100 about-body soap-img">
    <div class="row about-text">
        <div class="col mt-3 text-center">
            <h2 class="lead-text">About homemade soap</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8 bg-dark m-auto p-5">
        <p class="about-soap">Handmade soap from the cold process also differs from industrially made soap in that an excess of fat or (Coconut Oil, Cazumbal Process) are used, beyond that needed to consume the alkali (in a cold-pour process, this excess fat is called "superfatting"), and the glycerol left in acts as a moisturizing agent. However, the glycerine also makes the soap softer. The addition of glycerol and processing of this soap produces glycerin soap. Superfatted soap is more skin-friendly than one without extra fat, although it can leave a "greasy" feel. Sometimes, an emollient is added, such as jojoba oil or shea butter. Sand or pumice may be added to produce a scouring soap. The scouring agents serve to remove dead cells from the skin surface being cleaned. This process is called exfoliation.

            To make antibacterial soap, compounds such as triclosan or triclocarban can be added. There is some concern that use of antibacterial soaps and other products might encourage antimicrobial resistance in microorganisms.</p>
        </div>        
    </div>
    
</div>
{% endblock %}