{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
  
{% block content %}
<div class="container h-100">
    <div class="row h-75 mt-5">
        <div class="col-3 col-md-3 my-auto"></div>
        <div class="col-6 col-md-6 my-auto text-center" id="hero-text">
            <h1 class="display-4 logo-font mt-5" >Handmade Soap</h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
        <div class="col-3 col-md-3 my-auto"></div>
    </div>
    <div class="alert alert-warning m-3" role="alert">
        <h4 class="my-1 text-center" id="smishing-banner">** Smishing Warning! We will not send you any text messages. If you receive any text messages from us , please <strong>DELETE</strong> it!**</h4>
    </div>
</div>

{% endblock %}