html {
    height: 100%;
}

body {
    background: url('/media/homeimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 190px);
    color: #555;
    font-family: sans-serif, Helvetica;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;  
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;     
}

#hero-text{
    background: rgba(164, 173, 185, 0.6);
    /* border: 1px solid rgb(164, 173, 185); */
    border-radius: 0.5rem;
    color: darkslateblue;
  
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 260px;    
}

.btn-black {
    background: black;
    color: white;    
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    /* background: #222; */
    background: darkslateblue;
    opacity: 0.9;
    border: solid 2px darkslateblue;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.delivery-banner{
    background: darkslateblue !important;
}
#smishing-banner{
    font-size: 1.0rem;
    color: #705438;
}
    
.alert-warning{
    /* animation effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.about-soap{
    text-align: justify;
    color: #e8e2dc;
}

.soap-img{
    background: url('/media/soap.jpg') no-repeat center center fixed;
    height: 200px;
}

.about-text{
    color: #705438;
}

/* animation - create the level of zoom for hero-image */
@keyframes hero-zoom {

    from {
        transform: scale(0.6);
        opacity: .6;
    }

    to {
        transform: scale(1.0);
    }
}

/* -----------Footer */
#footer {
    font-size: 1rem;
    border-top: solid darkslateblue 3px;
}

.privacy-text {
    text-decoration: none;
    color: #555;
}
a:hover {
    color: darkslateblue;
    text-decoration: none;
}
.fa-facebook{
    color: #4965ab;
    
}
.fa-twitter {
    color: #1da2f3;
}
.fa-youtube {
    color: red;
}

.fa-facebook,
.fa-twitter,
.fa-youtube {
    font-size: 1.5rem;
}

/* -----------products */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e8e2dc;
    z-index: -1;
}

.products-text{
    color: darkslateblue;
    font-weight: 300;
}
.fa-star{
    color: #ffa534;
    font-size: 0.9rem;
}
.tag-text:hover{
    text-decoration: underline;
}

/* This is to adjust the images of landscape and potrait to be the same size */
.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px;
}

.product-card:hover{   
    /* to enlarge the card when hover */
    transform: translate3D(0,-3px,0) scale(1.01);
    opacity: 0.7;

}
a.category-badge > span.badge:hover {
    background: darkslateblue !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------Shopping cart */
.btn-outline-black {
    background: #fff;
    color: #000 !important; /* Use !important to overwrite lonk color for <a> */
    border: 2px solid black;
}

.cart-container{
    min-height: 100%;
}

.product-container{
    min-height: 100%;
}

.empty-cart {
    background: url('/media/flowers_landing.jpg') no-repeat center center fixed;   
}

input[name='q']::placeholder {
    color: #aab7c4;
}


/* -------Toast */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.confirmation-details{
    border: darkslateblue solid 2px;
    margin: 5px;
    padding: 10px;
}
.confirmation-inner-right{
   display: flex;
   flex-direction: row-reverse;
}
.confirmation-inner-right>img{
    width: 350px;
    height: 480px;
    margin: auto;
    padding: 20px;
    border-radius: 40%;
   }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* Media for secreen max 991px */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 118px);
    }
    .login {
      display: block;
    }
    .active-link {
      border: none!important;
  }  
  #hero-text h1{
    font-size: 2.0rem;
  }
  #hero-text{
    background: rgba(164, 173, 185, 0.5);
    border: none;
  }
  .shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 160px;    
}
  
}

@media (max-width: 489px) {

    #hero-text h1{
        font-size: 1.5rem;
        font-weight: 900;
        color: darkslateblue;
      }
      #hero-text{
        background: none;
        border: none;
      }
      .shop-now-button {
        background: darkslateblue;
        color: white;
        min-width: 100px;    
        font-size: 0.8rem;
    }
    #delivery-banner h4{
        font-size: 1.0rem;
    }
    #smishing-banner{
        color: red;
        font-size: 0.8rem;
        text-align: justify;
    }
#footer {
    font-size: 0.8rem;
}
.confirmation-inner-right>img{
    width: 250px;
    height: 380px;
   }
}