html {
    height: 100%;
}

body {
    background: url('/media/homeimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 165px);
    color: #555;
    font-family: sans-serif, Helvetica;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;  
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;     
}

#hero-text{
    background: rgba(164, 173, 185, 0.6);
    /* border: 1px solid rgb(164, 173, 185); */
    border-radius: 0.5rem;
    color: darkslateblue;
  
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 260px;    
}

.btn-black {
    background: black;
    color: white;    
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    /* background: #222; */
    background: darkslateblue;
    opacity: 0.9;
    border: solid 2px darkslateblue;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.delivery-banner{
    background: darkslateblue !important;
}
#smishing-banner{
    font-size: 1.0rem;
    color: #705438;
}
    
.alert-warning{
    /* animation effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: both;
}
/* animation - create the level of zoom for hero-image */
@keyframes hero-zoom {

    from {
        transform: scale(0.6);
        opacity: .6;
    }

    to {
        transform: scale(1.0);
    }
}

/* Footer */
#footer {
    font-size: 1rem;
    border-top: solid darkslateblue 3px;
}
.privacy-text {
    text-decoration: none;
    color: #555;
}
a:hover {
    color: darkslateblue;
    text-decoration: none;
}
.fa-facebook{
    color: #4965ab;
    
}
.fa-twitter {
    color: #1da2f3;
}
.fa-youtube {
    color: red;
}

.fa-facebook,
.fa-twitter,
.fa-youtube {
    font-size: 1.5rem;
}

/* products */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #e8e2dc;
    z-index: -1;
}

.products-text{
    color: darkslateblue;
    font-weight: 300;
}
.fa-star{
    color: #ffa534;
    font-size: 0.9rem;
}
.tag-text:hover{
    text-decoration: underline;
}

/* This is to adjust the images of landscape and potrait to be the same size */
.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px;
}

.product-card:hover{   
    /* to enlarge the card when hover */
    transform: translate3D(0,-3px,0) scale(1.01);
    opacity: 0.7;

}
a.category-badge > span.badge:hover {
    background: darkslateblue !important;
    color: #fff !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Media for secreen max 991px */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 118px);
    }
    .login {
      display: block;
    }
    .active-link {
      border: none!important;
  }  
  #hero-text h1{
    font-size: 2.0rem;
  }
  #hero-text{
    background: rgba(164, 173, 185, 0.5);
    border: none;
  }
  .shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 160px;    
}
  
}

@media (max-width: 489px) {

    #hero-text h1{
        font-size: 1.5rem;
        font-weight: 900;
        color: darkslateblue;
      }
      #hero-text{
        background: none;
        border: none;
      }
      .shop-now-button {
        background: darkslateblue;
        color: white;
        min-width: 100px;    
        font-size: 0.8rem;
    }
    #delivery-banner h4{
        font-size: 1.0rem;
    }
    #smishing-banner{
        color: red;
        font-size: 0.8rem;
        text-align: justify;
    }
#footer {
    font-size: 0.8rem;
}
}