html {
    height: 100%;
}

body {
    background: url('/media/home.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 165px);
    color: #555;
    font-family: sans-serif, Helvetica;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;  
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;     
}

#hero-text{
    background: rgba(164, 173, 185, 0.6);
    /* border: 1px solid rgb(164, 173, 185); */
    border-radius: 0.5rem;
    color: darkslateblue;
  
}
.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 260px;    
}

.btn-black {
    background: black;
    color: white;    
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black{
    background: darkslateblue !important;
}
#smishing-banner{
    color: red;
    font-size: 1.0rem;
}

#footer {
    font-size: 1rem;
    border-top: solid darkslateblue 3px;
}
a {
    text-decoration: none;
    color: #555;
}
a:hover {
    color: darkslateblue;
    text-decoration: none;
}
.fa-facebook{
    color: #4965ab;
    
}
.fa-twitter {
    color: #1da2f3;
}
.fa-youtube {
    color: red;
}
.fa-facebook,
.fa-twitter,
.fa-youtube {
    font-size: 1.5rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Media for secreen max 991px */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 118px);
    }
    .login {
      display: block;
    }
    .active-link {
      border: none!important;
  }  
  #hero-text h1{
    font-size: 2.0rem;
  }
  #hero-text{
    background: rgba(164, 173, 185, 0.5);
    border: none;
  }
  .shop-now-button {
    background: darkslateblue;
    color: white;
    min-width: 160px;    
}
  
}

@media (max-width: 489px) {

    #hero-text h1{
        font-size: 1.5rem;
        font-weight: 900;
        color: darkslateblue;
      }
      #hero-text{
        background: none;
        border: none;
      }
      .shop-now-button {
        background: darkslateblue;
        color: white;
        min-width: 100px;    
        font-size: 0.8rem;
    }
    #delivery-banner h4{
        font-size: 1.0rem;
    }
    #smishing-banner{
        color: red;
        font-size: 0.8rem;
    }
#footer {
    font-size: 0.8rem;
}
}