<div class="container-fluid bg-white mt-5 p-3" id="footer">
    <!-- Copyright -->
    <div class="row p-1">  
        <div class="col text-center">
            <a href="{% url 'privacy' %}" target="_blank" class="privacy-text">Privacy policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            &copy; 2024, A|Soap, all rights reserved&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% url 'about' %}" class="about-link">About Homemade Soap</a>
        </div>
    </div>   
    <!-- Social media link -->
    <div class="row p-1">        
        <div class="col text-center">
            <ul">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/" aria-label="social media facebook"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/" aria-label="social media twitter">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.youtube.com/" aria-label="social media youtube">&nbsp;&nbsp;<i class="fa-brands fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Newsletter subscription -->
    <div class="row p-1">
        <div class="container">
            <div class="row p-1 justify-content-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <label for="email" class="mb-2 text-center">Enter your email to subscribe to our Newsletter</label>
                    </div>
                    <div class="text-center">                           
                        <form method="post" action="">                
                            {% csrf_token %}                
                            <div class="input-group mb-2">                    
                                <input id="email" name="email" type="email" class="form-control newsletter-form" placeholder="Email address"
                                    required>
                                <button class="btn btn-primary " id="button-addon2" type="submit">Subscribe</button>                       
                            </div>
                        </form>
                    </div>
                </div>
            </div
        </div>
    </div>
</div>