<div class="container-fluid bg-white mt-5 p-3" id="footer">
    <div class="row p-1">        
        <div class="col-2 col-md-2 my-auto"></div>
        <div class="col"><a href="" class="privacy-text">Privacy policy</a>  |  &copy; 2024, A|Soap, all rights reserved.</div>
    </div>
    <!-- <div class="row p-1">
        <div class="col-2 col-md-2 my-auto"></div>
        <div class="col">
            <p>Address: Kinsale, County Cork, ROI&nbsp;&nbsp;&nbsp;&nbsp;|
                &nbsp;&nbsp;&nbsp;&nbsp;Contact number: <a href="tel:+353876119181">+353 87 6119181</a>&nbsp;&nbsp;&nbsp;&nbsp;|
                &nbsp;&nbsp;&nbsp;&nbsp;Email Address: <a href="">admin@asoap.com</a></p>
        </div>
    </div> -->
    <div class="row p-1">
        <div class="col-2 col-md-2 my-auto"></div>
        <div class="col">
            <a href="https://www.facebook.com/" aria-label="social media facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com/" aria-label="social media twitter">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;&nbsp;</a>
            <a href="https://www.youtube.com/" aria-label="social media youtube">&nbsp;&nbsp;<i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>

