{% extends "base.html" %}
{% load static %}

{% block extra_title %}Add Post{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay bg-info"></div>
<div class="container 100-vh">
    <div class="row">
        <h2>Add Post..............</h2>
    </div>
    <!-- Add post forms -->
    <div class="row">
        <div class="col-8 m-auto">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}            
        </form>
    </div>        
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-outline-secondary">Post</button>
        </div>
        </div>
    
    

</div>
{% endblock %}