{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
  
{% block content %}
<div class="container h-100">
    <h1>Blog Detail</h1>
    <div>
    <h2>{{ object.title }}</h2>
    <p>{{ object.excerpt }}</p>
    <p>{{ object.content }}</p>
    </div>
</div>

{% endblock %}