{% extends "base.html" %}
{% load static %}

{% block extra_title %}Blog-Detail{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay bg-white"></div>
<div class="container h-100">    
    <h2>Title:  {{ post.title }}</h2>
    <p>{{ post.created_on }}</p>
    <hr>
    </br>
    <div class="container">{{ post.content }}</div>
    <br/>
    <hr>
    <a href="{% url 'blog' %}">Back to blog list</a>
</div>
{% endblock %}